
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
src: local("Abhaya"),

      url("/AbhayaLibre-Bold.ttf ") format("woff2");

  src: local("Montserrat"),
      url("/Montserrat-VariableFont_wght.ttf ") format("woff2");
}
.actions {
  display: flex;
  gap: 25px;
   margin: 0px 0px 0px 120px;
}

.action {
  display: flex;
  flex-direction: column; /* Элементы располагаются вертикально */
  align-items: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  height: 250px;
    width: 250px;
    background-color:#EFEFEF ;
       justify-content: space-around;
}

.action img {
  width: 130px;
  height: 130px;
}

.action span {
  margin-top: 10px;
}
.modal {
  display: flex; /* Скрываем по умолчанию */
  position: fixed; /* Фиксированное положение */
  z-index: 1; /* Поверх других элементов */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Центрирование */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Ширина окна */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#uniStile {
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-family:"Abhaya" ;
  font-weight: 600;
}
body{
    margin: 0;
}
.work{
    font-size: 35px;
    font-family: "Montserrat";
    margin: 0px 0px 0px 120px;
}
.actions span{
    font-size: 32px;
    font-family: "Montserrat";
}
#modal-title{
    font-family: "Montserrat";
}
#modal-save{
    width: 150px;
    height: 30px;
    background-color: #3F3F3F;
    color: #ffffff;
    margin: 0px 0px 0px 390px;
}
.modal-content h3,p{
    font-family: "Montserrat";
}
#task-list{
    font-family: "Montserrat";
    margin: 0px 120px ;
}
@media (max-width: 320px)  {
.action{
display: flex;
width: 600px;
}}
@media (max-width: 320px)  {
.work{

}}

@media (max-width: 320px)  {
body{background-color: #3F3F3F;}}